*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    background-color: #0F172A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame{
    width: 540px;
    background-color: #6267f1;
    border: 4px solid white;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 40px 40px 40px;
}

.btns{
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

button{
    background-color: white;
    font-size: 40px;
    font-weight: 700;
    height: 100px;
    width: 100px;
    margin-bottom: 16px;
    border-radius: 12px;
    border-width: 5px;
}

.operator{
    color: white;
    background-color: #ed8e00;
}

.display{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 20px;

    font-size: 60px;
}

input{
    width: 100%;
    height: 100%;
    font-size: 40px;
    text-align: right;
    padding: 0 20px;
}

.title{
    color: white;
    font-size: 36px;
    font-weight: 900;
    width: 100%;
    text-align: center;
}
